* {
    margin: 0;
}

body {
    max-width: 1900px;
    margin: 0 auto;
    font-size: 0.875em;
    line-height: 1.6em;
    color: #222;
    background-image: url("../images/flower.jpg");
    min-height: 30vh;
    background-attachment: fixed;
  
}
header {
    background: rgba(34, 34, 34, 0.8); 
}

p {
    padding: 2%;
    color: #222;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Marck Script', cursive;
}

h1{
    font-size: 3rem;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-transform: uppercase;
   font-family: 'Marck Script', cursive;
    text-align: center;
}
h2 {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

nav img {
    width: 56px;
}
nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    flex: 1;
}
.btn_portfolio {
  color: #222;
  cursor: pointer;
  width: 40%;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 2% 5%;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: all 0.5s ease-out;
}

.btn_portfolio:hover {
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
}
aside {
    margin: 0 auto;
    width: 60%;
   min-height: 50vh;
   padding-bottom: 2%;
}
.aside_title {
    margin: 7%;
    padding: 7% 0;
    border: 1px solid;
    color: #fff;
}

article {
   
    background: rgba(255, 255, 255, 0.9);
 
}
section {
     min-height: 35vh;
}
.portfolio_container {
    
    display: flex;
}
.portfolio {
    padding: 0;
    height: 80vh;
    flex: 1;
}
.p_cover {
    background: rgba(255,255,255,0.3);
    height: 100%;
    transition: all 1s ease-out;
}
.p_cover:hover {
    background: rgba(34, 34, 34,0.6);
}
.p_first {
    background: url(../images/flowers_wed2.png) center center no-repeat;
    background-size: cover;
}
.p_second {
    background: url(../images/flowers_desk.png) center center no-repeat;
    background-size: cover;
}
.p_third {
    background: url(../images/flowers_desk1.png) center center no-repeat;
    background-size: cover;
}
.vazonky {
   
  height: 400px;
}
.items-row {
  display: -webkit-flex;
  display:     -ms-flexbox;
  display:         flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}
.item {
  margin: 2px;
  border: 1px solid #dddddd;
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  transition: flex 0.4s ease;
}
.item:hover {
  -webkit-flex: 0.000000001 0.00000001 400px;
      -ms-flex: 0.000000001 0.00000001 400px;
          flex: 0.000000001 0.00000001 400px;
  background-size: 100% 100%
}

.img1 {
  background-image: url('http://lorempixel.com/400/400/?1');
  background-repeat: no-repeat;
}
.img2 {
  background-image: url('http://lorempixel.com/400/400/?2');
  background-repeat: no-repeat;
}
.img3 {
  background-image: url('http://lorempixel.com/400/400/?3');
  background-repeat: no-repeat;
}
.img4 {
  background-image: url('http://lorempixel.com/400/400/?4');
  background-repeat: no-repeat;
}
.img5 {
  background-image: url('http://lorempixel.com/400/400/?5');
  background-repeat: no-repeat;
}


footer {
    display: flex;
    align-items: flex-end;
    background: rgba(34, 34, 34, 0.8);
}
footer small {
    color: #fff;
    flex: 1;
    padding: 10px;
}

.social_nav ul {
    list-style: none;
    flex: 2;
}
.social_nav a {
    color: rgba(255, 255, 255, 0.8);
}
.social_nav a:hover {
    color: rgba(0, 0, 0, 0.3);
}
@media all and (max-width: 768px) {
    
    h1 {
    font-size: 1.8rem
    }
    

   
}

@media all and (max-width: 470px) {
     
    section {
    
    min-height: 2vh;
    
}
    h1 {
        font-size: 1.4rem;
    }
    p {
        margin-top:10px;
        font-size: 0.9rem;
    }
     
    nav ul {
        flex-wrap: wrap;
    }
    nav li {
        flex-basis: 100%;
        
    }
    nav a {
    padding: 10px 0;
    
}

 
footer {
    
    flex-direction: column;
}
footer p {
    order: 2;
}

.social_nav ul {
    order: 1;
    display: flex;
}

   
}